# Usage: import this file to QSSI.12/system/core/rootdir/init.rc
# import /system/etc/init/mcdevice.rc

import /system/etc/init/mchello.rc

on boot
	#Disable Navigation Bar # this property is set also in system.prop
	#setprop qemu.hw.mainkeys 1

on property:sys.boot_completed=1
	write /dev/kmsg "mcdevice: on property:sys.boot_completed=1"

on boot 
	write /dev/kmsg "mcdevice: on boot"
